<div class="row">
  <div class="col">
    <div class="card">
      <div class="item">
        CCC
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="item">
        CCC
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="item">
        CCC
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="item">
        CCC
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="item">
        CCC
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="item">
        CCC
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="item">
        CCC
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="item">
        CCC
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="item">
        CCC
      </div>
    </div>
  </div>
</div>